<a href="https://colab.research.google.com/github/sanjoy-kumar/Practical-Machine-Learning-Labs/blob/main/DS_8015_Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn import metrics

### Read Data

In [2]:
url = '/content/drive/MyDrive/DS-8015-Datasets/Data_User_Modeling_Dataset.csv'
data  = pd.read_csv(url)

In [3]:
#data.drop(['Unnamed: 6', 'Unnamed: 7'], axis=1, inplace=True)
data.head(5)

    STG   SCG   STR   LPR   PEG   UNS
0  0.00  0.00  0.00  0.00  0.00   Low
1  0.08  0.08  0.10  0.24  0.90  High
2  0.06  0.06  0.05  0.25  0.33   Low
3  0.10  0.10  0.15  0.65  0.30  High
4  0.08  0.08  0.08  0.98  0.24   Low

## 1. a. Determine UNS variable as a categorical variable and then convert it to numeric binary values.

In [4]:
categoricalData = data.select_dtypes('O')
categoricalData.head()

    UNS
0   Low
1  High
2   Low
3  High
4   Low

In [5]:
data = data.replace({"Low":0, "High":1})
data.head()

    STG   SCG   STR   LPR   PEG  UNS
0  0.00  0.00  0.00  0.00  0.00    0
1  0.08  0.08  0.10  0.24  0.90    1
2  0.06  0.06  0.05  0.25  0.33    0
3  0.10  0.10  0.15  0.65  0.30    1
4  0.08  0.08  0.08  0.98  0.24    0

## 1. b. Present the descriptive statistics of these variables.

In [6]:
data.describe().T

     count      mean       std  min    25%   50%   75%   max
STG  403.0  0.353141  0.212018  0.0  0.200  0.30  0.48  0.99
SCG  403.0  0.355940  0.215531  0.0  0.200  0.30  0.51  0.90
STR  403.0  0.457655  0.246684  0.0  0.265  0.44  0.68  0.95
LPR  403.0  0.431342  0.257545  0.0  0.250  0.33  0.65  0.99
PEG  403.0  0.456360  0.266775  0.0  0.250  0.40  0.66  0.99
UNS  403.0  0.555831  0.497491  0.0  0.000  1.00  1.00  1.00

## Classification Task

### 2. a.  Assign the values of the UNS variable to the variable “labels” and drop this variable from the data frame.

In [7]:
labels = data['UNS']
labels.head()

0    0
1    1
2    0
3    1
4    0
Name: UNS, dtype: int64

In [8]:
data.drop('UNS', axis=1, inplace=True)
data.head()

    STG   SCG   STR   LPR   PEG
0  0.00  0.00  0.00  0.00  0.00
1  0.08  0.08  0.10  0.24  0.90
2  0.06  0.06  0.05  0.25  0.33
3  0.10  0.10  0.15  0.65  0.30
4  0.08  0.08  0.08  0.98  0.24

### 2. b. Split dataset as 80% training and 20% test sets.

In [9]:
X_train, X_test, y_train, y_test = train_test_split(data, labels, test_size=0.2, random_state=42, shuffle=True)
print("Training Data:",len(X_train));
print("Test Data:",len(X_test));

Training Data: 322
Test Data: 81

### 2. c. Apply the decision tree algorithm.

In [10]:
# Create Decision Tree classifer object
DTC = DecisionTreeClassifier()

# Train Decision Tree Classifer
DTC = DTC.fit(X_train,y_train)

# Predict the response for test dataset
y_pred = DTC.predict(X_test)

### 2. d. Evaluate your algorithm by presenting accuracy, precision, recall, and F1 score metrics.

In [11]:
print("Accuracy  : %.2f%%" % (metrics.accuracy_score(y_test, y_pred) * 100))
print("Precision : %.2f%%" % (metrics.precision_score(y_test, y_pred) * 100))
print("Recall    : %.2f%%" % (metrics.recall_score(y_test, y_pred) * 100))
print("F1 Score  : %.2f%%" % (metrics.f1_score(y_test, y_pred) * 100))

Accuracy  : 96.30%
Precision : 95.83%
Recall    : 97.87%
F1 Score  : 96.84%

## 3. Regression Task

### 3. a. Assign the values of the PEG variable to the variable “labels” and drop this variable from the data frame.

In [12]:
url = '/content/drive/MyDrive/DS-8015-Datasets/Data_User_Modeling_Dataset.csv'
data  = pd.read_csv(url)
data = data.replace({"Low":0, "High":1})
labels = data['PEG']
data.drop('PEG', axis=1, inplace=True)
data.head()

    STG   SCG   STR   LPR  UNS
0  0.00  0.00  0.00  0.00    0
1  0.08  0.08  0.10  0.24    1
2  0.06  0.06  0.05  0.25    0
3  0.10  0.10  0.15  0.65    1
4  0.08  0.08  0.08  0.98    0

### 3. b.  Split dataset as 80% training and 20% test sets.

In [13]:
X_train, X_test, y_train, y_test = train_test_split(data, labels, test_size=0.2, random_state=42, shuffle=True)
print("Training Data:",len(X_train));
print("Test Data:",len(X_test));
X_train.head()

Training Data: 322
Test Data: 81

      STG   SCG   STR   LPR  UNS
353  0.29  0.74  0.39  0.41    1
233  0.83  0.44  0.49  0.91    1
3    0.10  0.10  0.15  0.65    1
18   0.15  0.32  0.05  0.27    0
131  0.40  0.18  0.26  0.26    1

### 3. c. Apply the linear multiple regression algorithm.

In [14]:
# Creating an object of LinearRegression class
LR = LinearRegression()

# Fitting the training data
LR.fit(X_train,y_train)

LinearRegression()

In [15]:
# Predicting the testing data
y_prediction =  LR.predict(X_test)
y_prediction

array([0.66727448, 0.24091197, 0.22887236, 0.69050146, 0.67256102,
       0.24987452, 0.15083549, 0.66241782, 0.26668578, 0.60728094,
       0.72245317, 0.22380569, 0.68626598, 0.6074506 , 0.67202787,
       0.1602415 , 0.60465333, 0.64713269, 0.66526163, 0.24270559,
       0.21506204, 0.70597991, 0.21004108, 0.24697738, 0.6646718 ,
       0.25577861, 0.16370003, 0.60039263, 0.64054788, 0.64726171,
       0.19102108, 0.6647509 , 0.26080108, 0.66267222, 0.62156023,
       0.26295581, 0.59221965, 0.62521258, 0.67682434, 0.6863146 ,
       0.15343236, 0.24604921, 0.18231979, 0.68210526, 0.66969293,
       0.26284906, 0.67973819, 0.27435769, 0.16559108, 0.6916341 ,
       0.56897232, 0.66662125, 0.18446241, 0.66193492, 0.25811089,
       0.23494317, 0.66765849, 0.16948293, 0.64160894, 0.58563907,
       0.68862768, 0.18912386, 0.65777271, 0.15907072, 0.59356623,
       0.66508635, 0.62507497, 0.15903644, 0.16522854, 0.2488081 ,
       0.67971938, 0.17008695, 0.14830222, 0.19801936, 0.59363039,
       0.69074783, 0.68957134, 0.66879562, 0.652204  , 0.66321954,
       0.59174914])

### 3. d.  Evaluate your algorithm by presenting MSE, RMSE, and R-square values.

In [16]:
score = metrics.r2_score(y_test,y_prediction)
mse = metrics.mean_squared_error(y_test,y_prediction)
rmse = np.sqrt(metrics.mean_squared_error(y_test,y_prediction))
print("MSE      : %.3f" % mse)
print("RMSE     : %.3f" % rmse)
print("R-square : %.3f" % score)

MSE      : 0.018
RMSE     : 0.136
R-square : 0.749

## References:

- https://www.analyticsvidhya.com/blog/2021/05/multiple-linear-regression-using-python-and-scikit-learn/